:root {
    --main-color: #0078FF;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

html {
    scroll-behavior: smooth;
}
/* Start Component */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-heading h2 {
    font-size: 48px;
    color: #1e1e1e;
    text-transform: uppercase;
    font-weight: 700;
}
.main-heading p {
    font-weight: 400;
    color: #4e4e4e;
    position: relative;
    font-size: 20px;
}
.main-heading p::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 35px;
    background-color: var(--main-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* End Component */
/* Start Home */
.home {
    height: 100vh;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.home .navbar .navbar-nav a {
    font-size: 18px;
    overflow: hidden;
    position: relative;
}

.home .navbar .navbar-nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20%;
    width: 0;
    height: 3px;
    background-color: white;
    transition: 0.7s ease;
}

.home .navbar .navbar-nav li a:hover::after {
    width: 100%;
    left: 0;
}

.home .home-content h1 {
    font-size: 64px;
}

.home .home-content {
    font-size: 48px;
    font-weight: 400;
    padding: 15px 0;
}

.home .home-content p::after {
    content: ' |';
    animation: typing 20s ease-in infinite;
}

@keyframes typing {
    0% { 
        content: 'F|';
    }
    1% { 
        content: 'Fr|';
    }
    2% { 
        content: 'Fre|';
    }
    3% { 
        content: 'Free|';
    }
    4% { 
        content: 'Freel|';
    }
    5% { 
        content: 'Freela|';
    }
    6% { 
        content: 'Freelan|';
    }
    7% { 
        content: 'Freelanc|';
    }
    8% { 
        content: 'Freelance|';
    }
    9% { 
        content: 'Freelancer|';
    }
    10% { 
        content: 'Freelance|';
    }
    11% { 
        content: 'Freelanc|';
    }
    12% { 
        content: 'Freelan|';
    }
    13% { 
        content: 'Freela|';
    }
    14% { 
        content: 'Freel|';
    }
    15% { 
        content: 'Free|';
    }
    16% { 
        content: 'Fre|';
    }
    17% { 
        content: 'Fr|';
    }
    18% { 
        content: 'F|';
    }
    19% { 
        content: '|';
    }
    20% { 
        content: 'P|';
    }
    21% { 
        content: 'Ph|';
    }
    22% { 
        content: 'Pho|';
    }
    23% { 
        content: 'Phot|';
    }
    24% { 
        content: 'Photo|';
    }
    25% { 
        content: 'Photog|';
    }
    26% { 
        content: 'Photogr|';
    }
    27% { 
        content: 'Photogra|';
    }
    28% { 
        content: 'Photograp|';
    }
    29% { 
        content: 'Photograph|';
    }
    30% { 
        content: 'Photographe|';
    }
    31% { 
        content: 'Photographer|';
    }
    32% { 
        content: 'Photographe|';
    }
    33% { 
        content: 'Photograph|';
    }
    34% { 
        content: 'Photograp|';
    }
    35% { 
        content: 'Photogra|';
    }
    36% { 
        content: 'Photogr|';
    }
    37% { 
        content: 'Photog|';
    }
    38% { 
        content: 'Photo|';
    }
    39% { 
        content: 'Phot|';
    }
    40% { 
        content: 'Pho|';
    }
    41% { 
        content: 'Ph|';
    }
    42% { 
        content: 'P|';
    }
    43% { 
        content: '|';
    }
    44% { 
        content: 'D|';
    }
    45% { 
        content: 'De|';
    }
    46% { 
        content: 'Des|';
    }
    47% { 
        content: 'Desi|';
    }
    48% { 
        content: 'Desig|';
    }
    49% { 
        content: 'Design|';
    }
    50% { 
        content: 'Designe|';
    }
    51% { 
        content: 'Designer|';
    }
    52% { 
        content: 'Designe|';
    }
    53% { 
        content: 'Design|';
    }
    54% { 
        content: 'Desig|';
    }
    55% { 
        content: 'Desi|';
    }
    56% { 
        content: 'Des|';
    }
    57% { 
        content: 'De|';
    }
    58% { 
        content: 'D|';
    }
    59% { 
        content: '|';
    }
    60% { 
        content: 'D|';
    }
    61% { 
        content: 'De|';
    }
    62% { 
        content: 'Dev|';
    }
    63% { 
        content: 'Deve|';
    }
    64% { 
        content: 'Devel|';
    }
    65% { 
        content: 'Develo|';
    }
    66% { 
        content: 'Develop|';
    }
    67% { 
        content: 'Develope|';
    }
    68% { 
        content: 'Developer|';
    }
    69% { 
        content: 'Develope|';
    }
    70% { 
        content: 'Develop|';
    }
    71% { 
        content: 'Develo|';
    }
    72% { 
        content: 'Devel|';
    }
    73% { 
        content: 'Deve|';
    }
    74% { 
        content: 'Dev|';
    }
    75% { 
        content: 'De|';
    }
    76% { 
        content: 'D|';
    }
    77% { 
        content: '|';
    }
    78% { 
        content: '|';
    }
    79% { 
        content: '|';
    }
    80% { 
        content: '|';
    }
    81% { 
        content: '|';
    }
    82% { 
        content: '|';
    }
    83% { 
        content: '|';
    }
    84% { 
        content: '|';
    }
    85% { 
        content: '|';
    }
    86% { 
        content: '|';
    }
    87% { 
        content: '|';
    }
    88% { 
        content: '|';
    }
    89% { 
        content: '|';
    }
    90% { 
        content: '|';
    }
    91% { 
        content: '|';
    }
    92% { 
        content: '|';
    }
    93% { 
        content: '|';
    }
    94% { 
        content: '|';
    }
    97% { 
        content: '|';
    }
    96% { 
        content: '|';
    }
    100% { 
        content: '|';
    }
}
/* End Home */
/* Start About */
.about .testimonial .info p span {
    font-weight: 500;
}

.about .about-content h3::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 20%;
    bottom: -10px;
    left: 0;
    background-color: var(--main-color);
}

.about .about-content p {
    color: #4e4e4e;
    font-size: 18px;
    font-weight: 300;
}
/* End About */
/* Start Services*/
.services svg {
    color: black;
    font-size: 40px;
    padding: 30px;
    border: 10px solid var(--main-color);
    border-radius: 50%;
    transition: 0.7s ease;
}

.services svg:hover {
    color: white;
    background-color: var(--main-color);
    border: 10px solid #CDE1F8;
}

.services h5 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}
.services p {
    color: #4e4e4e;
    line-height: 1.8;
}
/* End Services*/
/* Start Counters */
.counters {
    background-image: url("../images/counters-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 8rem 0;
}
.counters .counters-box svg {
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
    padding: 15px;
    border: 10px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.counters .counters-box h3 {
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.counters .counters-box p {
    color: white;
}

.counters .overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    opacity: 0.8;
}

.counters .container-fluid {
    position: relative;
    z-index: 999;
}
/* End Counters */
/* Start Portfolio */
.portfolio .card {
    overflow: hidden;
}
.portfolio .card img {
    transition: 0.7s ease;
}

.portfolio .card img:hover {
    transform: scale(1.1);
}

.portfolio .card svg {
    padding: 5px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}
/* End Portfolio */
/* Start Testimonials */
.testimonials {
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 8rem 0;
}

.testimonials .overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    opacity: 0.8;
}

.testimonials .carousel-inner img {
    width: 15% !important;
    border-radius: 50%;
    transform: translateX(-50%);
}

.testimonials .carousel-inner .info {
    transform: translateX(-50%);
    color: white;
}

.testimonials .carousel-inner .info h4 {
    font-size: 22px;
}
.testimonials .carousel-inner .info p {
    font-size: 20px;
    font-weight: 300;
}

.testimonials .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/* End Testimonials */
/* Start Blog */
.blog .person img {
    width: 15%;
    margin-right: 10px;
    border-radius: 50%;
}

.blog .btn-center {
    transform: translateX(-50%);
}

.blog a {
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
}

.blog a:hover {
    color: var(--main-color);
}
/* End Blog */
/* Start Contact */
.contact {
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 8rem 0;
}

.contact .overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    opacity: 0.8;
}

.contact .card .msg h3::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 20%;
    background-color: var(--main-color);
    bottom: -10px;
    left: 0;
}

.contact .card .git-form p {
    font-size: 20px;
}

.contact .card .git-form ul {
    list-style: none;
}

.contact .card .git-form .contact-info svg {
    color: var(--main-color);
    font-size: 20px;
}

.contact .card .git-form .links svg {
    color: black;
    font-size: 30px;
    border: 3px solid var(--main-color);
    padding: 10px;
    border-radius: 50%;
    transition: 0.7s ease;
}

.contact .card .git-form svg:hover {
    color: white;
    background-color: var(--main-color);
    border: 3px solid #CDE1F8;
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: #0062D3;
}

.footer a {
    text-decoration: none;
    color: white;
}
/* End Footer */